exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom(dplyr,"left_join")
importFrom(dplyr,"mutate")
importFrom(dplyr,"group_by")
importFrom(dplyr,"row_number")
importFrom(dplyr,"filter")
importFrom(BiocGenerics,"unique")
importFrom(dplyr,"select")
importFrom(DEXSeq,"DEXSeqDataSetFromSE")
importFrom(DEXSeq,"DEXSeq")
importFrom(data.table,"as.data.table")
importFrom(data.table,"as.data.table")
importFrom(rlang, .data)


